$background: rgba(41, 61, 90, 0.99);
$header: #fff;
$font: rgb(204, 214, 246);
$secundary: red;

@mixin separator {
  content: "";
  height: 1px;
  background: grey;
  display: block;
  position: relative;
  @content;
}

body {
  background: $background;
  position: relative;
  margin: 0;
  padding-bottom: 5em;
  min-height: 100%;
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h3 {
  color: $font;
}
h1 {
  color: $header;
}
.p-size {
  font-size: 20px;
  color: $secundary;
}
.github {
  padding: 10px 20px;
  border: 2px solid $secundary;
}
.separator::after {
  @include separator() {
    left: 90px;
    bottom: 10px;
    width: 50%;
  }
}
header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-top: 1em;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 10px;
      a {
        color: $font;
        &:hover {
          color: $secundary;
        }
      }
    }
  }
}
main {
  padding: 0 150px;
  margin: 0 auto;
  section {
    padding: 150px 0;
    .summary {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: $header;
      font-size: 30px;
      line-height: 0.3em;
    }
    .skills {
      padding: 5em;
    }
    .projects {
      padding: 5em;
    }
  }
}
footer {
  padding: 15px;
  background: darken($background, 10%);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
